{% extends "layout.html" %}

{% block title %}{{ artwork['title'] }}{% endblock %}

{% block content %}
<div class="project-detail">
    <h1>{{ artwork['title'] }}</h1>
    <img src="{{ artwork['image_url'] }}" alt="{{ artwork['title'] }}">
    <p>{{ artwork['description'] }}</p>
    {% if artwork['video_url'] %}<a href="{{ artwork['video_url'] }}" target="_blank">Watch Video</a>{% endif %}
    {% if artwork['medium'] %}<p><strong>Medium:</strong> {{ artwork['medium'] }}</p>{% endif %}
    <p><em>Created at {{ artwork['created_at'] }}</em></p>
</div>
{% endblock %}
