{% extends "layout.html" %}

{% block title %}{{ artwork['title'] }}{% endblock %}

{% block content %}
<div class="project-detail">
    <h1>{{ artwork['title'] }}</h1>
    {% if artwork['medium'] %}<p><strong>Medium:</strong> {{ artwork['medium'] }}</p>{% endif %}
    <img src="{{ url_for('static', filename='uploads/' ~ artwork['image_url1']) }}" alt="{{ artwork['title'] }}" class="project-detail-image">

    {% if artwork['description'] %}
        <p>{{ artwork['description'].replace('\n', '<br>') | safe }}</p>
    {% endif %}

    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        {% if artwork['image_url2'] %}
        <img src="{{ url_for('static', filename='uploads/' ~ artwork['image_url2']) }}" alt="{{ artwork['title'] }}" class="project-detail-image-side">
        {% endif %}
        {% if artwork['image_url3'] %}
        <img src="{{ url_for('static', filename='uploads/' ~ artwork['image_url3']) }}" alt="{{ artwork['title'] }}" class="project-detail-image-side">
        {% endif %}
    </div>
    {% if artwork['video_url1'] %}
    <div class="embed-container">
        <iframe src="{{ artwork['video_url1'] }}"
                class="demo-embed"
                allowfullscreen></iframe>
    </div>
    {% endif %}
    {% if artwork['video_url2'] %}
    <div class="embed-container">
        <iframe src="{{ artwork['video_url2'] }}"
                class="demo-embed"
                allowfullscreen></iframe>
    </div>
    {% endif %}
    {% if artwork['video_url3'] %}
    <div class="embed-container">
        <iframe src="{{ artwork['video_url3'] }}"
                class="demo-embed"
                allowfullscreen></iframe>
    </div>
    {% endif %}
</div>
{% endblock %}
