{% extends "layout.html" %}
<h1>Computer Science Projects</h1>
<ul>
{% for project in projects %}
    <li>
    <h2>{{ project['title'] }}</h2>
    <p>{{ project['description'] }}</p>
    {% if project['video_url'] %}
        <video controls src="{{ project['video_url'] }}"></video>
    {% endif %}
    </li>
{% endfor %}
</ul>

<h1>Art Projects</h1>
<ul>
{% for art in artworks %}
    <li>
    <h2>{{ art['title'] }}</h2>
    <p>{{ art['description'] }}</p>
    <img src="{{ art['image_url'] }}" alt="{{ art['title'] }}">
    </li>
{% endfor %}
</ul>


