{% extends "layout.html" %}

{% block page_styles %}
<style>
  .hero {
    background-image: 
      url('/static/uploads/assets/hero-design.png');
  }
  .hero > div > h1 {
    color: #EDEDF4;
  }
  .hero > div > p {
    color: #EDEDF4;
  }
</style>
{% endblock %}

{% block content %}

  {% set breadcrumbs = [{ "label": "Product Design", "url": None }] %}
  {% include "partials/breadcrumb.html" %}

  {% set hero_title   = "Product Design" %}
  {% set hero_tagline = section.tagline %}
  {% include "partials/hero.html" %}

  <div class="layout">
    <div class="projects-grid">
      {% for project in projects %}
      <a href="{{ url_for('show_art_project', section=project['type'], projectid=project['projectid']) }}"
        class="project-card">
        <img src="{{ url_for('static', filename=project['featured_image']) }}"
            alt="{{ project['title'] }}">
        <div class="project-card__body">
          <h3>{{ project['title'] }}</h3>
          <p>{{ project['description'] | truncate(100) }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}
