{% extends "layout.html" %}

{% block page_styles %}
<style>
  .hero {
    background-image: 
      url('/static/uploads/assets/hero-animation.png');
  }
  .hero > div > h1 {
    color: #EDEDF4;
  }
  .hero > div > p {
    color: #EDEDF4;
  }
</style>
{% endblock %}

{% block content %}
<section class="hero">
    <div>
        <h1>Animation</h1>
        <p>
            Creating engaging storiesthrough motion, illustration,and visual communication.
        </p>
    </div>
</section>





{% endblock %}
