{% extends "layout.html" %}

{% block page_styles %}
<style>
  .hero {
    background-image: 
      url('/static/uploads/assets/hero-design.png');
  }
  .hero > div > h1 {
    color: #EDEDF4;
  }
  .hero > div > p {
    color: #EDEDF4;
  }
</style>
{% endblock %}

{% block content %}
<section class="hero">
    <div>
        <h1>Product Design</h1>
        <p>
            Designing thoughtful digital experiencesthrough research, strategy,and iterative problem solving.
        </p>
    </div>
</section>





{% endblock %}
