{% extends "layout.html" %}

{% block page_styles %}
<style>
  .hero {
    background-image: 
      url('/static/uploads/assets/hero-ux.png');
  }
  .hero > div > h1 {
    color: #EDEDF4;
  }
  .hero > div > p {
    color: #EDEDF4;
  }
</style>
{% endblock %}

{% block content %}
<section class="hero">
    <div>
        <h1>UX Engineering</h1>
        <p>
            Bridging design and developmentthrough design systems,interactive experiences,and accessible frontend implementation.
        </p>
    </div>
</section>





{% endblock %}
